<div>
  <header></header>
</div>
<div *ngIf="currentWindow==='Home'">
  Hi
</div>
<div *ngIf="currentWindow==='Commercial'">
  Commercial
</div>
<div *ngIf="currentWindow==='Personal'">
  Personal
</div>
<div *ngIf="currentWindow==='Family'">
  Family
</div>
<div *ngIf="currentWindow==='Wedding + Couple'">
  Wedding + Couple
</div>
<div *ngIf="currentWindow==='Travel'">
  Travel
</div>

<div class="footer bg-light">
  <a href="https://www.facebook.com/klarsphotography/"  target="_blank" class="fa fa-facebook" style="font-size:24px; padding:10px; color:#3B5998"></a>
  <a href="https://www.instagram.com/klarsphotography/?hl=en"  target="_blank" class="fa fa-instagram" style="font-size:24px; padding:10px; color:#e95950"></a>
</div>
