<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [class.active]="this.navigationService.getCurrentWindow() === 'Home'">
          <a class="nav-link" href="#" (click)="onReroute($event)">Home</a>
        </li>
        <li class="nav-item" [class.active]="this.navigationService.getCurrentWindow() === 'Commercial'">
          <a class="nav-link" href="#" (click)="onReroute($event)">Commercial</a>
        </li>
        <li class="nav-item" [class.active]="this.navigationService.getCurrentWindow() === 'Personal'">
          <a class="nav-link" href="#" (click)="onReroute($event)">Personal</a>
        </li>
        <li class="nav-item" [class.active]="this.navigationService.getCurrentWindow() === 'Family'">
          <a class="nav-link" href="#" (click)="onReroute($event)">Family</a>
        </li>
        <li class="nav-item" [class.active]="this.navigationService.getCurrentWindow() === 'Wedding + Couple'">
          <a class="nav-link" href="#" (click)="onReroute($event)">Wedding + Couple</a>
        </li>
        <li class="nav-item" [class.active]="this.navigationService.getCurrentWindow() === 'Travel'">
          <a class="nav-link" href="#" (click)="onReroute($event)">Travel</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Get to Know Katie</a>
            <a class="dropdown-item" href="#">Pricing</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Contact</a>
          </div>
        </li>
      </ul>
    </div>
    <img src="photos/klarsphoto.jpg" alt="KLARS Photography" style="height:80px; padding-right:2%" (click)="onReroute()">
    <a href="https://www.facebook.com/klarsphotography/"  target="_blank" class="fa fa-facebook" style="font-size:24px; padding:10px; color:#3B5998"></a>
    <a href="https://www.instagram.com/klarsphotography/?hl=en"  target="_blank" class="fa fa-instagram" style="font-size:24px; padding:10px; color:#e95950"></a>
  </nav>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
